<div class="d-flex">

  <!-- SIDEBAR -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs - App</h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
  <!-- END SIDEBAR -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In totam ipsa, amet quisquam optio ad, quaerat voluptas odit magni, officiis neque ea labore repudiandae architecto corrupti. Doloribus dignissimos ad mollitia?
      </div>
    </div>

  </div>

</div>