<div class="d-flex">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>
  <!-- END SIDEBAR -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In totam ipsa, amet quisquam optio ad, quaerat voluptas odit magni, officiis neque ea labore repudiandae architecto corrupti. Doloribus dignissimos ad mollitia?
      </div>
    </div>

  </div>

</div>